n8n/workflows/00-master-pipeline.json
{
  "name": "00 - Master Pipeline",
  "nodes": [
    {
      "id": "master-0001",
      "name": "Fathom Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        340
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "fathom-master",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "master-0002",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        340
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// HMAC signature verification is disabled on this n8n instance because\n// Code nodes cannot read $env vars (N8N_BLOCK_ENV_ACCESS_IN_NODE=true).\n// To enable HMAC: have an admin set N8N_BLOCK_ENV_ACCESS_IN_NODE=false,\n// then restore the crypto check using $env.FATHOM_WEBHOOK_SECRET.\nreturn $input.all();"
      }
    },
    {
      "id": "master-0003",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        340
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "=eq.{{ $json.body.id }}"
            },
            {
              "name": "select",
              "value": "id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "master-0035",
      "name": "Count Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        340
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// HTTP Request v4 splits array responses into N items.\n// With alwaysOutputData on Check Duplicate, n8n hands us 1 empty item when\n// Supabase returns [], or N items when matches exist. We count only items\n// that actually contain an id field (i.e. real duplicate rows).\nconst items = $input.all();\nconst duplicates = items.filter(i => i.json && i.json.id);\nreturn [{ json: { length: duplicates.length } }];"
      }
    },
    {
      "id": "master-0004",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        340
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-dup",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "master-0005",
      "name": "Insert Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1080,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'fathom', source_id: String($('Verify HMAC').first().json.body.id), status: 'pending', transcript_raw: ($('Verify HMAC').first().json.body.transcript || {}).full_transcript || '', transcript_segments: ($('Verify HMAC').first().json.body.transcript || {}).segments || [], audio_url: $('Verify HMAC').first().json.body.recording_url || null, recorded_at: $('Verify HMAC').first().json.body.start_time || null, duration_seconds: $('Verify HMAC').first().json.body.duration || 0 }) }}"
      }
    },
    {
      "id": "master-0006",
      "name": "Classify with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1300,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 120000
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.1-8b-instant', max_tokens: 300, messages: [ { role: 'system', content: 'You classify business calls. Types: discovery (first meeting with a prospective new client), ads_intro (introducing advertising services to a prospect or warm lead), launch (onboarding/kickoff with a new client), follow_up (check-in with an existing client about ongoing work), team (INTERNAL meeting between WeBuildTrades staff only, no external clients), other. CRITICAL: if EVERY attendee email ends with @webuildtrades.com, the call is ALWAYS team. If ANY attendee email is from outside @webuildtrades.com, it is a client or prospect call. Return JSON only: {\\\"call_type\\\":\\\"...\\\",\\\"confidence\\\":0.9,\\\"reasoning\\\":\\\"one sentence citing attendee emails or transcript content\\\"}' }, { role: 'user', content: 'Attendees: ' + JSON.stringify((($('Verify HMAC').first().json.body.attendees) || []).map(function(a){return {name:a.name,email:a.email};})) + '\\nTranscript excerpt:\\n' + (($('Verify HMAC').first().json.body.transcript || {}).full_transcript || '').substring(0, 2000) } ] }) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "master-0007",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputs = $input.all();\nconst firstJson = (inputs && inputs[0] && inputs[0].json) || {};\nconst choices = firstJson.choices;\nlet responseText = String((choices && choices[0] && choices[0].message && choices[0].message.content) || '');\nconst fence = String.fromCharCode(96, 96, 96);\nif (responseText.indexOf(fence) === 0) {\n  responseText = responseText.substring(3);\n  if (responseText.indexOf('json') === 0) responseText = responseText.substring(4);\n  responseText = responseText.trim();\n  if (responseText.endsWith(fence)) responseText = responseText.substring(0, responseText.length - 3);\n}\nconst fb = responseText.indexOf('{');\nif (fb > 0) responseText = responseText.substring(fb);\nconst lb = responseText.lastIndexOf('}');\nif (lb > -1 && lb < responseText.length - 1) responseText = responseText.substring(0, lb + 1);\nresponseText = responseText.trim();\n\nconst callId = $('Insert Call').first().json.id;\nconst validTypes = ['discovery', 'ads_intro', 'launch', 'follow_up', 'team', 'other'];\nlet c;\ntry { c = JSON.parse(responseText); }\ncatch (e) { c = { call_type: 'other', confidence: 0, reasoning: 'parse error: ' + responseText.substring(0, 200) }; }\nif (!validTypes.includes(c.call_type)) c.call_type = 'other';\nreturn [{ json: Object.assign({}, c, { call_id: callId }) }];"
      }
    },
    {
      "id": "master-0008",
      "name": "Update Call Type",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1740,
        200
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.call_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ call_type: $('Parse Classification').first().json.call_type, status: 'processing' }) }}"
      }
    },
    {
      "id": "master-0009",
      "name": "Is Team Call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1960,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-team",
              "leftValue": "={{ $('Parse Classification').first().json.call_type }}",
              "rightValue": "team",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "master-0010",
      "name": "Get Active Rubric",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2180,
        340
      ],
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/rubrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "master-0011",
      "name": "Get Call Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2180,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Parse Classification').first().json.call_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "master-0012",
      "name": "Run Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        340
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const call = $('Get Call Data').first().json;\nconst rubricRow = $('Get Active Rubric').first().json;\nif (!call) throw new Error('Call not found');\nif (!rubricRow) throw new Error('No active rubric');\nconst rules = rubricRow.content;\nconst callId = call.id;\nconst callType = call.call_type || 'other';\nconst findings = [];\nconst segments = Array.isArray(call.transcript_segments) ? call.transcript_segments : [];\nlet repLabel = 'host';\nif (segments.length > 0) { const speakers = [...new Set(segments.map(s => s.speaker).filter(Boolean))]; if (!speakers.includes('host') && speakers.length > 0) repLabel = speakers[0]; }\nconst repSegments = segments.filter(s => s.speaker === repLabel);\nconst repText = repSegments.map(s => s.text || s.content || '').join(' ');\nfor (const banned of (rules.banned_words || [])) {\n  const appliesTo = banned.applies_to_call_types || [];\n  if (appliesTo.length > 0 && !appliesTo.includes(callType)) continue;\n  const word = banned.word.toLowerCase();\n  const regex = new RegExp('\\\\b' + word + '\\\\b', 'gi');\n  const matches = repText.match(regex) || [];\n  if (matches.length > 0) {\n    const contextSnippets = repSegments.filter(s => (s.text || s.content || '').toLowerCase().includes(word)).slice(0, 5).map(s => ({ text: s.text || s.content, timestamp: s.start_time }));\n    const suggestion = `Do not use the word \"${banned.word}\" on ${appliesTo.join(' or ')} calls. ${banned.reason || ''} You said it ${matches.length} time${matches.length > 1 ? 's' : ''} on this call.`;\n    findings.push({ call_id: callId, rule_key: 'banned_word_' + word, value: { word, count: matches.length, suggestion }, severity: banned.severity || 'critical', context_snippets: contextSnippets });\n  }\n}\nfor (const filler of (rules.filler_words || [])) {\n  const word = filler.word.toLowerCase();\n  const regex = new RegExp('\\\\b' + word + '\\\\b', 'gi');\n  const matches = repText.match(regex) || [];\n  const count = matches.length;\n  const threshold = filler.threshold_per_call || 5;\n  if (count > threshold) {\n    const contextSnippets = repSegments.filter(s => (s.text || s.content || '').toLowerCase().includes(word)).slice(0, 3).map(s => ({ text: s.text || s.content, timestamp: s.start_time }));\n    const suggestion = `Reduce use of \"${word}\". You said it ${count} times (target: under ${threshold}). Replace with a deliberate pause.`;\n    findings.push({ call_id: callId, rule_key: 'filler_word_' + word, value: { word, count, threshold, suggestion }, severity: filler.severity || 'warning', context_snippets: contextSnippets });\n  }\n}\nconst totalSeconds = call.duration_seconds || 0;\nif (rules.talk_ratio && totalSeconds > 0 && segments.length > 0) {\n  const repSeconds = repSegments.reduce((sum, s) => sum + Math.max(0, (s.end_time || 0) - (s.start_time || 0)), 0);\n  const repPercentage = Math.round((repSeconds / totalSeconds) * 100);\n  const maxPercentage = rules.talk_ratio.max_rep_percentage || 60;\n  if (repPercentage > maxPercentage) {\n    const suggestion = `You spoke for ${repPercentage}% of this call — target is under ${maxPercentage}%. Ask a question, then stop talking.`;\n    findings.push({ call_id: callId, rule_key: 'talk_ratio', value: { rep_percentage: repPercentage, max_allowed: maxPercentage, suggestion }, severity: rules.talk_ratio.severity || 'warning', context_snippets: [] });\n  }\n}\nif (findings.length === 0) return [{ json: { __no_findings: true, call_id: callId } }];\nreturn findings.map(f => ({ json: f }));"
      }
    },
    {
      "id": "master-0013",
      "name": "Has Findings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2620,
        340
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-findings",
              "leftValue": "={{ $json.__no_findings }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "master-0014",
      "name": "Build Findings Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const findings = $input.all().map(item => ({ call_id: item.json.call_id, rule_key: item.json.rule_key, value: item.json.value, severity: item.json.severity, context_snippets: item.json.context_snippets || [] }));\nreturn [{ json: { findings } }];"
      }
    },
    {
      "id": "master-0015",
      "name": "Insert Rule Findings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3060,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/rule_findings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.findings) }}"
      }
    },
    {
      "id": "master-0016",
      "name": "Score with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2840,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 120000
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 5000, messages: [ { role: 'system', content: 'You are coaching a sales rep at WeBuildTrades. Score against the rubric using EXACT transcript quotes. Be exhaustive. Use real names. Quote-anchored. Every claim must cite a real quote. Return ONLY valid JSON: meeting_title (5-10 words), meeting_phase (one of: discovery, onboarding, kick_off, ai_onboarding, strategy_review, status_update, sales_pitch, demo, training, internal_sync, one_on_one, project_review, quarterly_review, closing_call, renewal, escalation, feedback_session, content_review, other. Pick the SPECIFIC purpose of this meeting. discovery = first conversation with a new prospect. onboarding = bringing a new client into the service. kick_off = formally starting a project or campaign. ai_onboarding = setting up an AI tool/agent for a client or team. strategy_review = discussing high-level direction and decisions. status_update = checking progress on ongoing work. sales_pitch = presenting a paid offer to a prospect. demo = walking through a product or feature. training = teaching the team or client a workflow. internal_sync = team coordination on multiple projects (the most common type). one_on_one = manager + report 1:1. project_review = retrospective or status on a specific project. quarterly_review = formal periodic review. closing_call = asking for the sale / signing the deal. renewal = renewing an existing contract. escalation = handling a problem or complaint. feedback_session = giving or receiving feedback. content_review = reviewing produced content like blogs/videos/ads. If none fit, use other.), overall_score (number 0-10), summary (1 sentence), executive_summary (5-8 sentence narrative), meeting_outcome (1-2 sentences: what changed), host_department (sales for client calls), attendees (array of {name, role, is_internal}), key_points (array of strings), projects_discussed (array of {name, status, owner, department, summary, next_action}), strengths (array of {criterion, score, description, evidence_quote}), improvements (array of {criterion, score, description, evidence_quote}), action_items (array of {task, owner, due, priority, context}), decisions_made (array of {decision, decided_by, context, impact}), open_questions (array of strings), next_steps (array of strings), risks (array of {risk, severity, area}), suggestions (array of {suggestion, suggested_by, value}), banned_phrases_observed (array of strings). coaching_priorities (SALES CALLS ONLY: array of max 3 objects with fields: priority (1 2 or 3), area (scoring criterion key e.g. objection_handling), what_happened (exact quote from transcript showing the problem), what_to_do_instead (specific replacement script or action the rep should use next time), impact (one sentence on why this hurts closing the deal) — ranked by deal impact most critical first — for team or internal calls return empty array []). IMPORTANT FIELD RULES: key_points must be top 5 most impactful specific points only each attributed as Speaker Name: point text — no vague generics; action_items every entry MUST have owner (real full name from transcript never unknown or rep), due (explicit date if stated else TBD), priority (high or medium or low based on urgency), context (one sentence why this matters to the business); decisions_made every entry MUST include decided_by (real name) and impact (what concretely changes because of this decision); next_steps must be concrete and specific — always cite who does what — never include vague follow up entries. Rubric: ' + JSON.stringify($('Get Active Rubric').first().json.content) }, { role: 'user', content: 'Attendees:\\n' + JSON.stringify((($('Verify HMAC').first().json.body.attendees) || []).map(function(a){return {name:a.name, email:a.email};})) + '\\nCall type: ' + ($('Parse Classification').first().json.call_type || 'unknown') + '\\n\\nFULL TRANSCRIPT:\\n\\n' + ($('Get Call Data').first().json.transcript_raw || 'No transcript.') } ] }) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "master-0017",
      "name": "Parse Scorecard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        440
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputs = $input.all();\nconst firstJson = (inputs && inputs[0] && inputs[0].json) || {};\nconst choices = firstJson.choices;\nlet responseText = String((choices && choices[0] && choices[0].message && choices[0].message.content) || '');\nconst fence = String.fromCharCode(96, 96, 96);\nif (responseText.indexOf(fence) === 0) {\n  responseText = responseText.substring(3);\n  if (responseText.indexOf('json') === 0) responseText = responseText.substring(4);\n  responseText = responseText.trim();\n  if (responseText.endsWith(fence)) responseText = responseText.substring(0, responseText.length - 3);\n}\nconst fb = responseText.indexOf('{');\nif (fb > 0) responseText = responseText.substring(fb);\nconst lb = responseText.lastIndexOf('}');\nif (lb > -1 && lb < responseText.length - 1) responseText = responseText.substring(0, lb + 1);\nresponseText = responseText.trim();\n\nconst callId = $('Parse Classification').first().json.call_id;\nconst rubric = $('Get Active Rubric').first().json;\n\nlet a;\nif (!responseText) {\n  a = { meeting_title: '', meeting_phase: 'other', overall_score: null, summary: 'Score model returned no content.', executive_summary: '', host_department: 'sales', attendees: [], strengths: [], improvements: [], key_points: [], projects_discussed: [], action_items: [], decisions_made: [], open_questions: [], next_steps: [], risks: [], suggestions: [], banned_phrases_observed: [] };\n} else {\n  try { a = JSON.parse(responseText); }\n  catch (e) { a = { meeting_title: '', meeting_phase: 'other', overall_score: null, summary: 'Score model JSON parse failed.', executive_summary: '', host_department: 'sales', attendees: [], strengths: [], improvements: [], key_points: [], projects_discussed: [], action_items: [], decisions_made: [], open_questions: [], next_steps: [], risks: [], suggestions: [], banned_phrases_observed: [] }; }\n}\n\nif (typeof a.overall_score !== 'number' && a.overall_score !== null) a.overall_score = null;\nconst arr = ['strengths', 'improvements', 'key_points', 'projects_discussed', 'attendees', 'action_items', 'decisions_made', 'open_questions', 'next_steps', 'risks', 'suggestions', 'banned_phrases_observed'];\nfor (const f of arr) if (!Array.isArray(a[f])) a[f] = [];\nif (!a.summary) a.summary = '';\nif (!a.executive_summary) a.executive_summary = '';\nif (!a.meeting_title) a.meeting_title = '';\nif (!a.host_department) a.host_department = 'sales';\nif (!a.meeting_phase) a.meeting_phase = 'other';\n\nconst allEvidence = [];\n// Add meeting_phase as evidence row so the portal can read it without a schema change\nif (a.meeting_phase) allEvidence.push({ criterion_key: 'meeting_phase', quote: String(a.meeting_phase), timestamp_seconds: null });\n\nfor (const s of a.strengths) if (s && s.evidence_quote) allEvidence.push({ criterion_key: 'strength_' + (s.criterion || 'item'), quote: String(s.evidence_quote), timestamp_seconds: s.timestamp_seconds || null });\nfor (const s of a.improvements) if (s && s.evidence_quote) allEvidence.push({ criterion_key: 'improvement_' + (s.criterion || 'item'), quote: String(s.evidence_quote), timestamp_seconds: s.timestamp_seconds || null });\nfor (const p of a.key_points) if (p) allEvidence.push({ criterion_key: 'key_point', quote: String(p), timestamp_seconds: null });\nfor (const p of a.projects_discussed) if (p && p.name) {\n  const status = p.status ? ' [' + String(p.status).toUpperCase() + ']' : '';\n  const owner = p.owner ? ' - Owner: ' + p.owner : '';\n  const dept = p.department ? ' (' + p.department + ')' : '';\n  const next = p.next_action ? ' --> ' + p.next_action : '';\n  const summary = p.summary ? ' - ' + p.summary : '';\n  allEvidence.push({ criterion_key: 'project', quote: p.name + status + dept + owner + summary + next, timestamp_seconds: null });\n}\nfor (const ai of a.action_items) if (ai && ai.task) {\n  const owner = ai.owner ? ' - Owner: ' + ai.owner : '';\n  const due = ai.due ? ' - Due: ' + ai.due : '';\n  const priority = ai.priority ? ' [' + String(ai.priority).toUpperCase() + ']' : '';\n  const context = ai.context ? ' - ' + ai.context : '';\n  allEvidence.push({ criterion_key: 'action_item', quote: String(ai.task) + owner + due + priority + context, timestamp_seconds: null });\n}\nfor (const d of a.decisions_made) if (d && d.decision) {\n  const by = d.decided_by ? ' (by ' + d.decided_by + ')' : '';\n  const ctx = d.context ? ' - ' + d.context : '';\n  const impact = d.impact ? ' [impact: ' + d.impact + ']' : '';\n  allEvidence.push({ criterion_key: 'decision', quote: String(d.decision) + by + ctx + impact, timestamp_seconds: null });\n}\nfor (const q of a.open_questions) if (q) allEvidence.push({ criterion_key: 'open_question', quote: String(q), timestamp_seconds: null });\nfor (const n of a.next_steps) if (n) allEvidence.push({ criterion_key: 'next_step', quote: String(n), timestamp_seconds: null });\nfor (const r of a.risks) {\n  if (!r) continue;\n  if (typeof r === 'string') allEvidence.push({ criterion_key: 'risk', quote: r, timestamp_seconds: null });\n  else if (r.risk) {\n    const sev = r.severity ? ' [' + String(r.severity).toUpperCase() + ']' : '';\n    const area = r.area ? ' (' + r.area + ')' : '';\n    allEvidence.push({ criterion_key: 'risk', quote: r.risk + sev + area, timestamp_seconds: null });\n  }\n}\nfor (const s of a.suggestions) {\n  if (!s) continue;\n  if (typeof s === 'string') allEvidence.push({ criterion_key: 'suggestion', quote: s, timestamp_seconds: null });\n  else if (s.suggestion) {\n    const by = s.suggested_by ? ' (by ' + s.suggested_by + ')' : '';\n    const v = s.value ? ' - ' + s.value : '';\n    allEvidence.push({ criterion_key: 'suggestion', quote: s.suggestion + by + v, timestamp_seconds: null });\n  }\n}\nfor (const att of a.attendees) if (att && att.name) {\n  const role = att.role ? ' (' + att.role + ')' : '';\n  const ext = att.is_internal === false ? ' [external]' : '';\n  allEvidence.push({ criterion_key: 'attendee', quote: att.name + role + ext, timestamp_seconds: null });\n}\nfor (const bp of a.banned_phrases_observed) if (bp) allEvidence.push({ criterion_key: 'banned_phrase', quote: String(bp), timestamp_seconds: null });\n\n// Coaching priorities (sales calls only)\nif (Array.isArray(a.coaching_priorities)) {\n  for (const cp of a.coaching_priorities) {\n    if (cp && cp.area) {\n      allEvidence.push({ criterion_key: 'coaching_priority_' + (cp.priority || '1'), quote: JSON.stringify(cp), timestamp_seconds: null });\n    }\n  }\n}\n\n// Talk time breakdown from transcript segments\ntry {\n  const segs = ((($('Verify HMAC').first().json.body) || {}).transcript || {}).segments || [];\n  if (segs.length > 0) {\n    const tally = {};\n    let total = 0;\n    for (const seg of segs) {\n      const dur = ((seg.end_time || 0) - (seg.start_time || 0));\n      tally[seg.speaker] = (tally[seg.speaker] || 0) + dur;\n      total += dur;\n    }\n    const breakdown = Object.entries(tally).map(function(e) {\n      return { speaker: e[0], seconds: Math.round(e[1]), percentage: total > 0 ? Math.round((e[1] / total) * 100) : 0 };\n    });\n    allEvidence.push({ criterion_key: 'talk_time_breakdown', quote: JSON.stringify(breakdown), timestamp_seconds: null });\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  call_id: callId,\n  rubric_id: rubric.id,\n  meeting_title: a.meeting_title,\n  meeting_phase: a.meeting_phase,\n  host_department: a.host_department,\n  overall_score: typeof a.overall_score === 'number' ? Math.round(a.overall_score * 10) / 10 : null,\n  summary: (a.meeting_title ? a.meeting_title + '. ' : '') + (a.summary || a.executive_summary || ''),\n  executive_summary: a.executive_summary,\n  strengths: a.strengths,\n  improvements: a.improvements,\n  llm_model: 'llama-3.3-70b-versatile',\n  all_evidence: allEvidence\n} }];"
      }
    },
    {
      "id": "master-0018",
      "name": "Insert Scorecard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3280,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/scorecards",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Compute Department (Sales)').first().json.scorecard_body) }}"
      }
    },
    {
      "id": "master-0019",
      "name": "Build Evidence Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        440
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const scorecardId = $('Insert Scorecard').first().json.id;\nconst allEvidence = $('Parse Scorecard').first().json.all_evidence || [];\nif (allEvidence.length === 0) return [{ json: { __skip_evidence: true } }];\nconst evidenceRows = allEvidence.map(e => ({ scorecard_id: scorecardId, criterion_key: e.criterion_key, quote: e.quote, timestamp_seconds: e.timestamp_seconds }));\nreturn [{ json: { evidence: evidenceRows } }];"
      }
    },
    {
      "id": "master-0020",
      "name": "Has Evidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3720,
        440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ev",
              "leftValue": "={{ $json.__skip_evidence }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "master-0021",
      "name": "Insert Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3940,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/scorecard_evidence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.evidence) }}"
      }
    },
    {
      "id": "master-0022",
      "name": "Generate Meeting Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2180,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 120000
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 5000, messages: [ { role: 'system', content: 'You are extracting structured business intelligence from a meeting transcript. Your job is COMPLETENESS, not summarization. Be exhaustive. CRITICAL RULES - VIOLATING ANY OF THESE PRODUCES UNUSABLE OUTPUT: 1. EXTRACT EVERYTHING. If the transcript has 12 action items, list ALL 12. 2. USE EXACT WORDS. Every action_item, decision, key_point MUST use phrasing from the transcript. 3. NAME REAL PEOPLE. Use actual attendee names from the attendee list. Never invent roles like \\\"Senior Meeting Analyst\\\". 4. ASSIGN DEPARTMENTS by keyword: sales/prospects/closing/proposal->sales; SEO/blog/website/search->seo; content/social/video/images/posts->content; finance/budget/revenue->finance; operations/apps/AI projects/automation->ops; strategy/pause WeBuildTrades/vision/Daniel-led->executive. 5. NO SHORTCUTS. No \\\"continue\\\" or \\\"review\\\" - cite the specific action. 6. RISKS must be actually raised in the transcript. 7. BANNED PHRASES must be ACTUAL occurrences (mate, basically, essentially, obviously, you know, etc.). Return ONLY valid JSON with these keys: meeting_title (specific 5-10 word title), meeting_phase (one of: discovery, onboarding, kick_off, ai_onboarding, strategy_review, status_update, sales_pitch, demo, training, internal_sync, one_on_one, project_review, quarterly_review, closing_call, renewal, escalation, feedback_session, content_review, other. Pick the SPECIFIC purpose of this meeting. discovery = first conversation with a new prospect. onboarding = bringing a new client into the service. kick_off = formally starting a project or campaign. ai_onboarding = setting up an AI tool/agent for a client or team. strategy_review = discussing high-level direction and decisions. status_update = checking progress on ongoing work. sales_pitch = presenting a paid offer to a prospect. demo = walking through a product or feature. training = teaching the team or client a workflow. internal_sync = team coordination on multiple projects (the most common type). one_on_one = manager + report 1:1. project_review = retrospective or status on a specific project. quarterly_review = formal periodic review. closing_call = asking for the sale / signing the deal. renewal = renewing an existing contract. escalation = handling a problem or complaint. feedback_session = giving or receiving feedback. content_review = reviewing produced content like blogs/videos/ads. If none fit, use other.), one_line_summary (one clear sentence of the main outcome), executive_summary (5-8 sentences flowing prose: who attended, topics in order, decisions and by whom, outcome, what happens next), meeting_outcome (1-2 sentences: what changed because of this meeting), host_department (one of: executive, sales, seo, ops, finance, content), attendees (array of {name, role, is_internal}), key_points (array of 8-15+ specific topics quoted), projects_discussed (array of {name, status (delivered|in_progress|paused|proposed|blocked), owner, department, summary, next_action}), decisions_made (array of {decision, decided_by, context, impact}), action_items (array of {task, owner, due, priority (high|medium|low), context}), open_questions (array of strings), next_steps (array of strings), risks (array of {risk, severity (high|medium|low), area}), suggestions (array of {suggestion, suggested_by, value}), banned_phrases_observed (array of strings - actual usages). meeting_effectiveness (object: {score (0-10 how effective was this meeting overall), agenda_clarity (brief note on whether a clear agenda existed and was followed), decisions_ratio (summary: how many concrete decisions made vs topics only discussed), action_coverage (summary: how many action items have clear named owners vs vague), focus_score (0-10 how on-topic and productive was the meeting), summary (2 sentences on overall meeting quality and the single most important improvement for next time)}). IMPORTANT FIELD RULES: key_points must be top 8 most impactful specific points only each attributed as Speaker Name: exact point — no vague generics; action_items every entry MUST have owner (real full name), due (explicit date if stated else TBD), priority (high or medium or low), context (one sentence why this matters); decisions_made every entry MUST include decided_by (real name) and impact (what concretely changes); next_steps concrete and specific always cite who does what never vague follow up entries.' }, { role: 'user', content: 'Attendees:\\n' + JSON.stringify((($('Verify HMAC').first().json.body.attendees) || []).map(function(a){return {name:a.name, email:a.email};})) + '\\n\\nDuration: ' + (($('Verify HMAC').first().json.body.duration) || 0) + ' seconds\\n\\nFULL TRANSCRIPT (extract EVERYTHING quote-anchored):\\n\\n' + (($('Verify HMAC').first().json.body.transcript || {}).full_transcript || 'No transcript.') } ] }) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "master-0023",
      "name": "Parse Meeting Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        60
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputs = $input.all();\nconst firstJson = (inputs && inputs[0] && inputs[0].json) || {};\nconst choices = firstJson.choices;\nlet responseText = String((choices && choices[0] && choices[0].message && choices[0].message.content) || '');\nconst fence = String.fromCharCode(96, 96, 96);\nif (responseText.indexOf(fence) === 0) {\n  responseText = responseText.substring(3);\n  if (responseText.indexOf('json') === 0) responseText = responseText.substring(4);\n  responseText = responseText.trim();\n  if (responseText.endsWith(fence)) responseText = responseText.substring(0, responseText.length - 3);\n}\nconst fb = responseText.indexOf('{');\nif (fb > 0) responseText = responseText.substring(fb);\nconst lb = responseText.lastIndexOf('}');\nif (lb > -1 && lb < responseText.length - 1) responseText = responseText.substring(0, lb + 1);\nresponseText = responseText.trim();\n\nconst callId = $('Parse Classification').first().json.call_id;\nlet s;\nif (!responseText) {\n  s = { meeting_title: '', meeting_phase: 'other', one_line_summary: 'Model returned no content', executive_summary: '', host_department: '', attendees: [], key_points: [], projects_discussed: [], decisions_made: [], action_items: [], open_questions: [], next_steps: [], risks: [], suggestions: [], banned_phrases_observed: [] };\n} else {\n  try { s = JSON.parse(responseText); }\n  catch (e) { s = { meeting_title: '', meeting_phase: 'other', one_line_summary: 'Model JSON parse failed', executive_summary: '', host_department: '', attendees: [], key_points: [], projects_discussed: [], decisions_made: [], action_items: [], open_questions: [], next_steps: [], risks: [], suggestions: [], banned_phrases_observed: [] }; }\n}\nconst arr = ['attendees', 'key_points', 'projects_discussed', 'decisions_made', 'action_items', 'open_questions', 'next_steps', 'risks', 'suggestions', 'banned_phrases_observed'];\nfor (const f of arr) if (!Array.isArray(s[f])) s[f] = [];\nif (!s.meeting_title) s.meeting_title = '';\nif (!s.host_department) s.host_department = 'ops';\nif (!s.meeting_phase) s.meeting_phase = 'other';\n\nreturn [{ json: { call_id: callId, summary: s } }];"
      }
    },
    {
      "id": "master-0024",
      "name": "Store Meeting Scorecard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2620,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/scorecards",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Compute Department').first().json.scorecard_body) }}"
      }
    },
    {
      "id": "master-0025",
      "name": "Store Meeting Evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        60
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const scorecardId = $('Store Meeting Scorecard').first().json.id;\nconst summary = $('Parse Meeting Summary').first().json.summary;\nconst rows = [];\n\n// Meeting phase as a dedicated evidence row\nif (summary.meeting_phase) rows.push({ scorecard_id: scorecardId, criterion_key: 'meeting_phase', quote: String(summary.meeting_phase), timestamp_seconds: null });\n\nfor (const p of (summary.key_points || [])) if (p) rows.push({ scorecard_id: scorecardId, criterion_key: 'key_point', quote: String(p), timestamp_seconds: null });\n\nfor (const p of (summary.projects_discussed || [])) if (p && p.name) {\n  const status = p.status ? ' [' + String(p.status).toUpperCase() + ']' : '';\n  const owner = p.owner ? ' - Owner: ' + p.owner : '';\n  const dept = p.department ? ' (' + p.department + ')' : '';\n  const next = p.next_action ? ' --> ' + p.next_action : '';\n  const sum = p.summary ? ' - ' + p.summary : '';\n  rows.push({ scorecard_id: scorecardId, criterion_key: 'project', quote: p.name + status + dept + owner + sum + next, timestamp_seconds: null });\n}\n\nfor (const a of (summary.action_items || [])) if (a && a.task) {\n  const owner = a.owner ? ' - Owner: ' + a.owner : '';\n  const due = a.due ? ' - Due: ' + a.due : '';\n  const priority = a.priority ? ' [' + String(a.priority).toUpperCase() + ']' : '';\n  const context = a.context ? ' - ' + a.context : '';\n  rows.push({ scorecard_id: scorecardId, criterion_key: 'action_item', quote: a.task + owner + due + priority + context, timestamp_seconds: null });\n}\n\nfor (const d of (summary.decisions_made || [])) if (d && d.decision) {\n  const by = d.decided_by ? ' (by ' + d.decided_by + ')' : '';\n  const ctx = d.context ? ' - ' + d.context : '';\n  const impact = d.impact ? ' [impact: ' + d.impact + ']' : '';\n  rows.push({ scorecard_id: scorecardId, criterion_key: 'decision', quote: d.decision + by + ctx + impact, timestamp_seconds: null });\n}\n\nfor (const q of (summary.open_questions || [])) if (q) rows.push({ scorecard_id: scorecardId, criterion_key: 'open_question', quote: String(q), timestamp_seconds: null });\nfor (const n of (summary.next_steps || [])) if (n) rows.push({ scorecard_id: scorecardId, criterion_key: 'next_step', quote: String(n), timestamp_seconds: null });\n\nfor (const r of (summary.risks || [])) {\n  if (!r) continue;\n  if (typeof r === 'string') rows.push({ scorecard_id: scorecardId, criterion_key: 'risk', quote: r, timestamp_seconds: null });\n  else if (r.risk) {\n    const sev = r.severity ? ' [' + String(r.severity).toUpperCase() + ']' : '';\n    const area = r.area ? ' (' + r.area + ')' : '';\n    rows.push({ scorecard_id: scorecardId, criterion_key: 'risk', quote: r.risk + sev + area, timestamp_seconds: null });\n  }\n}\n\nfor (const s of (summary.suggestions || [])) {\n  if (!s) continue;\n  if (typeof s === 'string') rows.push({ scorecard_id: scorecardId, criterion_key: 'suggestion', quote: s, timestamp_seconds: null });\n  else if (s.suggestion) {\n    const by = s.suggested_by ? ' (by ' + s.suggested_by + ')' : '';\n    const v = s.value ? ' - ' + s.value : '';\n    rows.push({ scorecard_id: scorecardId, criterion_key: 'suggestion', quote: s.suggestion + by + v, timestamp_seconds: null });\n  }\n}\n\nfor (const att of (summary.attendees || [])) if (att && att.name) {\n  const role = att.role ? ' (' + att.role + ')' : '';\n  const ext = att.is_internal === false ? ' [external]' : '';\n  rows.push({ scorecard_id: scorecardId, criterion_key: 'attendee', quote: att.name + role + ext, timestamp_seconds: null });\n}\n\nfor (const bp of (summary.banned_phrases_observed || [])) if (bp) rows.push({ scorecard_id: scorecardId, criterion_key: 'banned_phrase', quote: String(bp), timestamp_seconds: null });\n\n// Meeting effectiveness block\nif (summary.meeting_effectiveness && typeof summary.meeting_effectiveness === 'object') {\n  rows.push({ scorecard_id: scorecardId, criterion_key: 'meeting_effectiveness', quote: JSON.stringify(summary.meeting_effectiveness), timestamp_seconds: null });\n}\n\n// Talk time breakdown from transcript segments\ntry {\n  const segs = ((($('Verify HMAC').first().json.body) || {}).transcript || {}).segments || [];\n  if (segs.length > 0) {\n    const tally = {};\n    let total = 0;\n    for (const seg of segs) {\n      const dur = ((seg.end_time || 0) - (seg.start_time || 0));\n      tally[seg.speaker] = (tally[seg.speaker] || 0) + dur;\n      total += dur;\n    }\n    const breakdown = Object.entries(tally).map(function(e) {\n      return { speaker: e[0], seconds: Math.round(e[1]), percentage: total > 0 ? Math.round((e[1] / total) * 100) : 0 };\n    });\n    rows.push({ scorecard_id: scorecardId, criterion_key: 'talk_time_breakdown', quote: JSON.stringify(breakdown), timestamp_seconds: null });\n  }\n} catch(e) {}\n\nreturn [{ json: { evidence: rows, call_id: $('Parse Meeting Summary').first().json.call_id, row_count: rows.length } }];"
      }
    },
    {
      "id": "master-0026",
      "name": "Insert Meeting Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3060,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/scorecard_evidence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.evidence || []) }}"
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "master-0027",
      "name": "Update Call Scored",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4160,
        340
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Parse Classification').first().json.call_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'scored' }) }}"
      }
    },
    {
      "id": "master-0028",
      "name": "Get Participants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4380,
        200
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/call_participants",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "call_id",
              "value": "=eq.{{ $('Parse Classification').first().json.call_id }}"
            },
            {
              "name": "is_external",
              "value": "eq.false"
            },
            {
              "name": "select",
              "value": "*,team_members(name,email,role)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "master-0029",
      "name": "Get Final Scorecard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4380,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/scorecards",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "call_id",
              "value": "=eq.{{ $('Parse Classification').first().json.call_id }}"
            },
            {
              "name": "select",
              "value": "*,scorecard_evidence(*)"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "master-0030",
      "name": "Build Email List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4600,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const scorecardRes = $('Get Final Scorecard').first().json;\nconst scorecard = Array.isArray(scorecardRes) ? scorecardRes[0] : scorecardRes;\nconst callId = $('Parse Classification').first().json.call_id;\nconst callType = $('Parse Classification').first().json.call_type;\nconst portalUrl = 'http://localhost:5173/calls/' + callId;\nconst safe = scorecard || { overall_score: null, summary: '', strengths: [], improvements: [] };\nconst evidenceRows = (safe.scorecard_evidence || []).filter(function(e){ return e && e.criterion_key; });\nconst findingsRaw = $('Get Rule Findings').all() || [];\nconst findings = findingsRaw.map(function(f){return f.json;}).filter(function(f){return f && f.rule_key;})\n  .sort(function(a,b){ const o={critical:0,warning:1,info:2}; return (o[a.severity]||9)-(o[b.severity]||9); });\n\nfunction group(key) { return evidenceRows.filter(function(e){ return e.criterion_key === key; }).map(function(e){ return e.quote; }); }\nconst keyPoints = group('key_point');\nconst actionItems = group('action_item');\nconst decisions = group('decision');\nconst openQuestions = group('open_question');\nconst nextSteps = group('next_step');\nconst risks = group('risk');\nconst suggestions = group('suggestion');\n\nfunction humanize(k) { if (!k) return ''; return String(k).split('_').map(function(w){return w.charAt(0).toUpperCase()+w.slice(1);}).join(' '); }\nfunction scoreColor(s) { if (s===null||s===undefined) return '#64748b'; if (s>=8) return '#10b981'; if (s>=6) return '#3b82f6'; if (s>=4) return '#f59e0b'; return '#ef4444'; }\nfunction sev(s) { if (s==='critical') return {bg:'#fee2e2',fg:'#991b1b',l:'CRITICAL'}; if (s==='warning') return {bg:'#fef3c7',fg:'#92400e',l:'WARNING'}; return {bg:'#dbeafe',fg:'#1e40af',l:'INFO'}; }\n\nconst strengths = (safe.strengths || []).slice(0, 5);\nconst improvements = (safe.improvements || []).slice(0, 5);\n\nfunction critRow(item) {\n  const label = humanize(item.criterion || '');\n  const sc = typeof item.score === 'number' ? item.score : null;\n  const col = scoreColor(sc);\n  const sct = sc!==null ? sc+'/10' : '';\n  return '<tr><td style=\"padding:14px 0;border-bottom:1px solid #f1f5f9;\">' +\n    '<div style=\"display:flex;align-items:center;justify-content:space-between;margin-bottom:6px;\">' +\n      '<span style=\"font-weight:600;color:#1a1a2e;font-size:14px;\">'+label+'</span>' +\n      (sc!==null?'<span style=\"background:'+col+';color:#fff;font-weight:700;font-size:12px;padding:3px 11px;border-radius:12px;\">'+sct+'</span>':'') +\n    '</div>' +\n    '<div style=\"color:#475569;font-size:13px;line-height:1.55;margin-bottom:6px;\">'+(item.description||'')+'</div>' +\n    (item.evidence_quote?'<div style=\"background:#f8fafc;border-left:3px solid #cbd5e1;padding:9px 13px;margin-top:8px;color:#475569;font-size:12px;font-style:italic;\">&ldquo;'+item.evidence_quote.substring(0,240)+'&rdquo;</div>':'') +\n  '</td></tr>';\n}\n\nfunction listSection(title, items, accent, bullet) {\n  if (!items || !items.length) return '';\n  return '<h2 style=\"color:'+accent+';font-size:13px;margin:28px 0 12px;text-transform:uppercase;letter-spacing:0.08em;font-weight:700;\">'+title+' ('+items.length+')</h2>' +\n    '<ul style=\"margin:0;padding-left:0;list-style:none;\">' +\n    items.slice(0,10).map(function(t){return '<li style=\"background:#fff;border:1px solid #e2e8f0;border-left:3px solid '+accent+';border-radius:6px;padding:11px 14px;margin-bottom:8px;color:#374151;font-size:13px;line-height:1.55;\">'+bullet+' '+t+'</li>';}).join('') +\n    '</ul>';\n}\n\nconst scoreColor1 = scoreColor(safe.overall_score);\nconst headerScore = safe.overall_score !== null && safe.overall_score !== undefined\n  ? '<div style=\"font-size:48px;font-weight:800;color:#1a1a2e;line-height:1;\">'+safe.overall_score+'<span style=\"font-size:20px;color:#64748b;font-weight:500;\"> / 10</span></div><div style=\"color:#64748b;font-size:11px;margin-top:6px;text-transform:uppercase;letter-spacing:0.08em;font-weight:600;\">Overall call score</div>'\n  : '<div style=\"font-size:26px;font-weight:700;color:#1a1a2e;\">Meeting Analysis</div><div style=\"color:#64748b;font-size:12px;margin-top:4px;\">'+humanize(callType)+' call</div>';\n\nconst strengthsHtml = strengths.length ? '<h2 style=\"color:#16a34a;font-size:13px;margin:28px 0 4px;text-transform:uppercase;letter-spacing:0.08em;font-weight:700;\">What worked</h2><table style=\"width:100%;border-collapse:collapse;\">'+strengths.map(critRow).join('')+'</table>' : '';\nconst improvementsHtml = improvements.length ? '<h2 style=\"color:#d97706;font-size:13px;margin:28px 0 4px;text-transform:uppercase;letter-spacing:0.08em;font-weight:700;\">Coach on this next time</h2><table style=\"width:100%;border-collapse:collapse;\">'+improvements.map(critRow).join('')+'</table>' : '';\n\nconst findingsHtml = findings.length ? '<h2 style=\"color:#1a1a2e;font-size:13px;margin:28px 0 12px;text-transform:uppercase;letter-spacing:0.08em;font-weight:700;\">Rule findings ('+findings.length+')</h2>' +\n  findings.slice(0,8).map(function(f){\n    const s = sev(f.severity);\n    return '<div style=\"background:#fff;border:1px solid #e2e8f0;border-left:4px solid '+s.fg+';border-radius:6px;padding:13px 15px;margin-bottom:10px;\"><div style=\"display:flex;align-items:center;gap:8px;margin-bottom:6px;\"><span style=\"background:'+s.bg+';color:'+s.fg+';font-weight:700;font-size:10px;padding:3px 9px;border-radius:10px;letter-spacing:0.06em;\">'+s.l+'</span><span style=\"font-weight:600;color:#1a1a2e;font-size:13px;\">'+humanize(f.rule_key)+'</span></div><div style=\"color:#475569;font-size:13px;line-height:1.55;\">'+((f.value && f.value.suggestion) || '')+'</div></div>';\n  }).join('') : '';\n\nconst html = '<div style=\"font-family:-apple-system,Segoe UI,Arial,sans-serif;max-width:680px;margin:0 auto;background:#f8fafc;padding:24px 0;\">' +\n  '<div style=\"background:#1a1a2e;padding:30px 36px;border-radius:14px 14px 0 0;\">' +\n    '<h1 style=\"color:#fff;margin:0;font-size:22px;font-weight:700;letter-spacing:-0.01em;\">WeBuildTrades Call Analyzer</h1>' +\n    '<p style=\"color:#94a3b8;margin:6px 0 0;font-size:13px;\">'+humanize(callType)+' call analysis &middot; AI-generated coaching feedback</p>' +\n  '</div>' +\n  '<div style=\"background:#fff;padding:34px 36px;border:1px solid #e2e8f0;border-top:0;\">' +\n    '<p style=\"color:#334155;font-size:15px;margin:0 0 22px;\">Hi Admin,</p>' +\n    '<div style=\"background:#f1f5f9;border-left:4px solid '+scoreColor1+';padding:20px 26px;border-radius:0 8px 8px 0;margin-bottom:26px;\">'+headerScore+'</div>' +\n    (safe.executive_summary ? '<h2 style=\"color:#1a1a2e;font-size:13px;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;font-weight:700;\">Executive Summary</h2><p style=\"color:#475569;font-size:14px;line-height:1.7;margin:0 0 8px;\">'+safe.executive_summary+'</p>' : '') +\n    listSection('Key Points', keyPoints, '#1a1a2e', '&#9679;') +\n    listSection('Decisions Made', decisions, '#3b82f6', '&#10003;') +\n    listSection('Action Items', actionItems, '#d97706', '&#9656;') +\n    listSection('Open Questions', openQuestions, '#8b5cf6', '?') +\n    listSection('Next Steps', nextSteps, '#10b981', '&rarr;') +\n    listSection('Risks', risks, '#ef4444', '&#9888;') +\n    listSection('Suggestions', suggestions, '#0891b2', '&#9788;') +\n    strengthsHtml + improvementsHtml + findingsHtml +\n    '<div style=\"margin-top:34px;padding-top:24px;border-top:1px solid #e2e8f0;text-align:center;\">' +\n      '<a href=\"'+portalUrl+'\" style=\"background:#1a1a2e;color:#fff;padding:14px 40px;text-decoration:none;border-radius:8px;font-weight:600;font-size:14px;display:inline-block;\">View Full Report &rarr;</a>' +\n      '<p style=\"color:#94a3b8;font-size:12px;margin:14px 0 0;\">Open the portal for the full transcript and historical trends.</p>' +\n    '</div>' +\n  '</div>' +\n  '<div style=\"padding:18px 36px;text-align:center;\">' +\n    '<p style=\"color:#94a3b8;font-size:11px;margin:0;\">'+keyPoints.length+' key points &middot; '+actionItems.length+' action items &middot; '+decisions.length+' decisions &middot; '+findings.length+' rule findings</p>' +\n  '</div>' +\n'</div>';\n\nreturn [{ json: {\n  to: 'muhammadammaralibhutta@gmail.com',\n  subject: 'Call Analysis: ' + humanize(callType) + ' &mdash; ' + (safe.overall_score !== null && safe.overall_score !== undefined ? safe.overall_score+'/10' : (actionItems.length + ' action items')),\n  html: html,\n  portal_url: portalUrl,\n  call_id: callId\n} }];"
      }
    },
    {
      "id": "master-0031",
      "name": "Has Recipients?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4820,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-recip",
              "leftValue": "={{ $json.__no_recipients || $json.__no_scorecard }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "master-0032",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5040,
        200
      ],
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "9EQjy57dlQKwSMkn",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "id": "master-0033",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5260,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"call_id\": \"{{ $('Parse Classification').first().json.call_id }}\", \"call_type\": \"{{ $('Parse Classification').first().json.call_type }}\" }",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "master-0034",
      "name": "Respond 200 Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        460
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"duplicate\": true }",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "master-0036",
      "name": "Get Rule Findings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4500,
        500
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/rule_findings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "call_id",
              "value": "=eq.{{ $('Parse Classification').first().json.call_id }}"
            },
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "order",
              "value": "severity.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "master-0037",
      "name": "Compute Department",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3290,
        60
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const map = {\n  executive: '00000000-0000-0000-0000-000000000010',\n  exec: '00000000-0000-0000-0000-000000000010',\n  sales: '00000000-0000-0000-0000-000000000001',\n  seo: '00000000-0000-0000-0000-000000000011',\n  ops: '00000000-0000-0000-0000-000000000012',\n  operations: '00000000-0000-0000-0000-000000000012',\n  ai: '00000000-0000-0000-0000-000000000012',\n  finance: '00000000-0000-0000-0000-000000000013',\n  content: '00000000-0000-0000-0000-000000000014',\n  marketing: '00000000-0000-0000-0000-000000000014'\n};\nconst s = ($('Parse Meeting Summary').first().json.summary) || {};\nconst slug = String(s.host_department || 'ops').toLowerCase().trim();\nconst departmentId = map[slug] || map.ops;\nconst callId = $('Parse Classification').first().json.call_id;\n\nconst NL = String.fromCharCode(10);\nconst title = s.meeting_title || '';\nconst phase = s.meeting_phase || '';\nconst oneLine = s.one_line_summary || '';\nconst exec = s.executive_summary || '';\nconst outcome = s.meeting_outcome || '';\nlet combinedSummary = '';\nif (title) combinedSummary += title;\nif (title && oneLine) combinedSummary += '. ';\nif (oneLine) combinedSummary += oneLine;\nif (exec) combinedSummary += NL + NL + exec;\nif (outcome) combinedSummary += NL + NL + 'Outcome: ' + outcome;\nif (phase) combinedSummary += NL + NL + 'Phase: ' + phase;\n\nconst scorecardBody = {\n  call_id: callId,\n  rubric_id: '00000000-0000-0000-0000-000000000002',\n  overall_score: null,\n  summary: combinedSummary,\n  strengths: (s.key_points || []).map(function(p){ return { point: p }; }),\n  improvements: s.suggestions || [],\n  llm_model: 'llama-3.3-70b-versatile'\n};\n\nreturn [{ json: { call_id: callId, department_id: departmentId, department_slug: slug, scorecard_body: scorecardBody } }];"
      }
    },
    {
      "id": "master-0037b",
      "name": "Patch Department",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3460,
        60
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.call_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ department_id: $json.department_id }) }}",
        "options": {}
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "master-0038",
      "name": "Compute Department (Sales)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3290,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const map = {\n  executive: '00000000-0000-0000-0000-000000000010',\n  exec: '00000000-0000-0000-0000-000000000010',\n  sales: '00000000-0000-0000-0000-000000000001',\n  seo: '00000000-0000-0000-0000-000000000011',\n  ops: '00000000-0000-0000-0000-000000000012',\n  operations: '00000000-0000-0000-0000-000000000012',\n  ai: '00000000-0000-0000-0000-000000000012',\n  finance: '00000000-0000-0000-0000-000000000013',\n  content: '00000000-0000-0000-0000-000000000014',\n  marketing: '00000000-0000-0000-0000-000000000014'\n};\nconst sc = $('Parse Scorecard').first().json;\nconst slug = String(sc.host_department || 'sales').toLowerCase().trim();\nconst departmentId = map[slug] || map.sales;\nconst scorecardBody = {\n  call_id: sc.call_id,\n  rubric_id: sc.rubric_id,\n  overall_score: sc.overall_score,\n  summary: sc.summary,\n  strengths: sc.strengths,\n  improvements: sc.improvements,\n  llm_model: sc.llm_model\n};\nreturn [{ json: { call_id: sc.call_id, department_id: departmentId, department_slug: slug, scorecard_body: scorecardBody } }];"
      }
    },
    {
      "id": "master-0038b",
      "name": "Patch Department (Sales)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3460,
        400
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.call_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ department_id: $json.department_id }) }}",
        "options": {}
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "master-0022c",
      "name": "70B Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2380,
        60
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-success",
              "leftValue": "={{ $json.choices && $json.choices[0] && $json.choices[0].message ? true : false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "master-0022b",
      "name": "Generate Meeting Summary (8B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2180,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 120000
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.1-8b-instant', max_tokens: 5000, messages: [ { role: 'system', content: 'You are extracting structured business intelligence from a meeting transcript. Your job is COMPLETENESS, not summarization. Be exhaustive. CRITICAL RULES - VIOLATING ANY OF THESE PRODUCES UNUSABLE OUTPUT: 1. EXTRACT EVERYTHING. If the transcript has 12 action items, list ALL 12. 2. USE EXACT WORDS. Every action_item, decision, key_point MUST use phrasing from the transcript. 3. NAME REAL PEOPLE. Use actual attendee names from the attendee list. Never invent roles like \\\"Senior Meeting Analyst\\\". 4. ASSIGN DEPARTMENTS by keyword: sales/prospects/closing/proposal->sales; SEO/blog/website/search->seo; content/social/video/images/posts->content; finance/budget/revenue->finance; operations/apps/AI projects/automation->ops; strategy/pause WeBuildTrades/vision/Daniel-led->executive. 5. NO SHORTCUTS. No \\\"continue\\\" or \\\"review\\\" - cite the specific action. 6. RISKS must be actually raised in the transcript. 7. BANNED PHRASES must be ACTUAL occurrences (mate, basically, essentially, obviously, you know, etc.). Return ONLY valid JSON with these keys: meeting_title (specific 5-10 word title), meeting_phase (one of: discovery, onboarding, kick_off, ai_onboarding, strategy_review, status_update, sales_pitch, demo, training, internal_sync, one_on_one, project_review, quarterly_review, closing_call, renewal, escalation, feedback_session, content_review, other. Pick the SPECIFIC purpose of this meeting. discovery = first conversation with a new prospect. onboarding = bringing a new client into the service. kick_off = formally starting a project or campaign. ai_onboarding = setting up an AI tool/agent for a client or team. strategy_review = discussing high-level direction and decisions. status_update = checking progress on ongoing work. sales_pitch = presenting a paid offer to a prospect. demo = walking through a product or feature. training = teaching the team or client a workflow. internal_sync = team coordination on multiple projects (the most common type). one_on_one = manager + report 1:1. project_review = retrospective or status on a specific project. quarterly_review = formal periodic review. closing_call = asking for the sale / signing the deal. renewal = renewing an existing contract. escalation = handling a problem or complaint. feedback_session = giving or receiving feedback. content_review = reviewing produced content like blogs/videos/ads. If none fit, use other.), one_line_summary (one clear sentence of the main outcome), executive_summary (5-8 sentences flowing prose: who attended, topics in order, decisions and by whom, outcome, what happens next), meeting_outcome (1-2 sentences: what changed because of this meeting), host_department (one of: executive, sales, seo, ops, finance, content), attendees (array of {name, role, is_internal}), key_points (array of 8-15+ specific topics quoted), projects_discussed (array of {name, status (delivered|in_progress|paused|proposed|blocked), owner, department, summary, next_action}), decisions_made (array of {decision, decided_by, context, impact}), action_items (array of {task, owner, due, priority (high|medium|low), context}), open_questions (array of strings), next_steps (array of strings), risks (array of {risk, severity (high|medium|low), area}), suggestions (array of {suggestion, suggested_by, value}), banned_phrases_observed (array of strings - actual usages). meeting_effectiveness (object: {score (0-10 how effective was this meeting overall), agenda_clarity (brief note on whether a clear agenda existed and was followed), decisions_ratio (summary: how many concrete decisions made vs topics only discussed), action_coverage (summary: how many action items have clear named owners vs vague), focus_score (0-10 how on-topic and productive was the meeting), summary (2 sentences on overall meeting quality and the single most important improvement for next time)}). IMPORTANT FIELD RULES: key_points must be top 8 most impactful specific points only each attributed as Speaker Name: exact point — no vague generics; action_items every entry MUST have owner (real full name), due (explicit date if stated else TBD), priority (high or medium or low), context (one sentence why this matters); decisions_made every entry MUST include decided_by (real name) and impact (what concretely changes); next_steps concrete and specific always cite who does what never vague follow up entries.' }, { role: 'user', content: 'Attendees:\\n' + JSON.stringify((($('Verify HMAC').first().json.body.attendees) || []).map(function(a){return {name:a.name, email:a.email};})) + '\\n\\nDuration: ' + (($('Verify HMAC').first().json.body.duration) || 0) + ' seconds\\n\\nFULL TRANSCRIPT (extract EVERYTHING quote-anchored):\\n\\n' + (($('Verify HMAC').first().json.body.transcript || {}).full_transcript || 'No transcript.') } ] }) }}"
      },
      "retryOnFail": false,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Fathom Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Count Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Duplicates": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Insert Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Call": {
      "main": [
        [
          {
            "node": "Classify with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Groq": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Update Call Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Type": {
      "main": [
        [
          {
            "node": "Is Team Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Team Call?": {
      "main": [
        [
          {
            "node": "Generate Meeting Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Active Rubric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Rubric": {
      "main": [
        [
          {
            "node": "Get Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Data": {
      "main": [
        [
          {
            "node": "Run Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Rules": {
      "main": [
        [
          {
            "node": "Has Findings?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Findings?": {
      "main": [
        [
          {
            "node": "Build Findings Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Findings Array": {
      "main": [
        [
          {
            "node": "Insert Rule Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Rule Findings": {
      "main": [
        [
          {
            "node": "Score with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score with Groq": {
      "main": [
        [
          {
            "node": "Parse Scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scorecard": {
      "main": [
        [
          {
            "node": "Compute Department (Sales)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Scorecard": {
      "main": [
        [
          {
            "node": "Build Evidence Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Evidence Array": {
      "main": [
        [
          {
            "node": "Has Evidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Evidence?": {
      "main": [
        [
          {
            "node": "Insert Evidence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Call Scored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Evidence": {
      "main": [
        [
          {
            "node": "Update Call Scored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Meeting Summary": {
      "main": [
        [
          {
            "node": "70B Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Meeting Summary": {
      "main": [
        [
          {
            "node": "Compute Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Meeting Scorecard": {
      "main": [
        [
          {
            "node": "Store Meeting Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Meeting Evidence": {
      "main": [
        [
          {
            "node": "Insert Meeting Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Meeting Evidence": {
      "main": [
        [
          {
            "node": "Update Call Scored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Scored": {
      "main": [
        [
          {
            "node": "Get Participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Participants": {
      "main": [
        [
          {
            "node": "Get Final Scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Scorecard": {
      "main": [
        [
          {
            "node": "Get Rule Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email List": {
      "main": [
        [
          {
            "node": "Has Recipients?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recipients?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rule Findings": {
      "main": [
        [
          {
            "node": "Build Email List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Department": {
      "main": [
        [
          {
            "node": "Patch Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Department": {
      "main": [
        [
          {
            "node": "Store Meeting Scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Department (Sales)": {
      "main": [
        [
          {
            "node": "Patch Department (Sales)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Department (Sales)": {
      "main": [
        [
          {
            "node": "Insert Scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "70B Succeeded?": {
      "main": [
        [
          {
            "node": "Parse Meeting Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Meeting Summary (8B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Meeting Summary (8B)": {
      "main": [
        [
          {
            "node": "Parse Meeting Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "6EjuooypZ54jgqTc"
  }
}