n8n/workflows/02-classify.json
{
  "name": "02 - Classify Call",
  "nodes": [
    {
      "id": "6edbd68a-f2c7-469d-8cda-ad4f05ed4191",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-944, 1040],
      "webhookId": "dc45a3d2-5a55-4599-84ea-468e83e03e38",
      "parameters": {
        "httpMethod": "POST",
        "path": "call-classify",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "18dd43aa-eeb1-4f31-9658-fcb8147c812f",
      "name": "Get Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-736, 1040],
      "parameters": {
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.body.call_id }}" },
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b9f2d8a1-4c3e-4a5f-8e7b-1d2c3f4e5a6b",
      "name": "Build Groq Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-512, 1040],
      "parameters": {
        "jsCode": "const call = ($input.all()[0]?.json || [])[0] || {};\nconst transcript = (call.transcript_raw || '').substring(0, 2000);\n\nreturn [{\n  json: {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 300,\n    system: 'You are a call classifier for a sales coaching system.\\nReturn ONLY valid JSON, no other text.\\n\\ncall_type must be one of: discovery, ads_intro, launch, follow_up, team, other\\n\\nResponse schema: {\"call_type\": \"discovery\", \"confidence\": 0.95, \"reasoning\": \"brief explanation\"}',\n    messages: [\n      {\n        role: 'user',\n        content: 'Classify this sales call transcript:\\n\\n' + (transcript || 'No transcript available')\n      }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "28787ce8-1ee3-4e8a-880e-79e395748a87",
      "name": "Classify with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-288, 1040],
      "credentials": {
        "anthropicApi": {
          "id": "I2r0zHnMY4qLOwGn",
          "name": "Anthropic account 3"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "c90dd3c8-5e5a-444b-a6c5-ba18ecbabee7",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, 1040],
      "parameters": {
        "jsCode": "const responseText = $input.first().json.content?.[0]?.text || '';\nconst callId = $('Webhook').first().json.body.call_id;\nconst validTypes = ['discovery', 'ads_intro', 'launch', 'follow_up', 'team', 'other'];\n\nlet cleanText = responseText.trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nlet classification;\ntry {\n  classification = JSON.parse(cleanText);\n} catch (e) {\n  classification = { call_type: 'other', confidence: 0, reasoning: 'parse error: ' + responseText.substring(0, 100) };\n}\n\nif (!validTypes.includes(classification.call_type)) {\n  classification.call_type = 'other';\n}\n\nreturn [{ json: { ...classification, call_id: callId } }];"
      }
    },
    {
      "id": "2596800f-d2b1-405f-ac59-dae9aa539da1",
      "name": "Match Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 1040],
      "parameters": {
        "jsCode": "const callId = $('Parse Classification').item.json.call_id;\nreturn [{ json: { call_id: callId, client_id: null } }];"
      }
    },
    {
      "id": "61ab5354-5f56-4704-b063-e5c891697415",
      "name": "Update Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [384, 1040],
      "parameters": {
        "method": "PATCH",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Parse Classification').item.json.call_id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { call_type: $('Parse Classification').first().json.call_type, status: 'processing' } }}",
        "options": {}
      }
    },
    {
      "id": "591e9304-62f7-48cf-85bd-314ab23cc5c6",
      "name": "Is Team Call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [608, 1040],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-team-01",
              "leftValue": "={{ $('Parse Classification').item.json.call_type }}",
              "rightValue": "team",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "7b7c0034-56cb-4188-b7db-f0bf3c207692",
      "name": "Trigger Meeting Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [832, 896],
      "parameters": {
        "method": "POST",
        "url": "https://n8nserver.metaviz.pro/webhook/call-meeting-summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { call_id: $('Parse Classification').first().json.call_id } }}",
        "options": {}
      }
    },
    {
      "id": "77346ca2-2ad5-4f03-b300-df9b8e635ffc",
      "name": "Trigger Rule Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [832, 1120],
      "parameters": {
        "method": "POST",
        "url": "https://n8nserver.metaviz.pro/webhook/call-rule-engine",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { call_id: $('Parse Classification').first().json.call_id } }}",
        "options": {}
      }
    },
    {
      "id": "12d631b5-f81d-494c-8dc2-7085f8a99674",
      "name": "Trigger Scorecard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [832, 1264],
      "parameters": {
        "method": "POST",
        "url": "https://n8nserver.metaviz.pro/webhook/call-scorecard",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { call_id: $('Parse Classification').first().json.call_id } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Call", "type": "main", "index": 0 }]] },
    "Get Call": { "main": [[{ "node": "Build Groq Request", "type": "main", "index": 0 }]] },
    "Build Groq Request": { "main": [[{ "node": "Classify with Groq", "type": "main", "index": 0 }]] },
    "Classify with Groq": { "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]] },
    "Parse Classification": { "main": [[{ "node": "Match Client", "type": "main", "index": 0 }]] },
    "Match Client": { "main": [[{ "node": "Update Call", "type": "main", "index": 0 }]] },
    "Update Call": { "main": [[{ "node": "Is Team Call?", "type": "main", "index": 0 }]] },
    "Is Team Call?": {
      "main": [
        [{ "node": "Trigger Meeting Summary", "type": "main", "index": 0 }],
        [
          { "node": "Trigger Rule Engine", "type": "main", "index": 0 },
          { "node": "Trigger Scorecard", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b3b467644dfa8e0c6797928cc6d8bf68d9415ef612f9ba2a0d45772e9aff0f75"
  }
}
