n8n/workflows/03-rule-engine.json
{
  "name": "03 - Rule Engine",
  "nodes": [
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "call-rule-engine",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "Get Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 200],
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.body.call_id }}" },
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Get Active Rubric",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 400],
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/rubrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "is_active", "value": "eq.true" },
            { "name": "select", "value": "*" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "Run Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rawCall = $('Get Call').first().json;\nconst call = Array.isArray(rawCall) ? (rawCall[0] || null) : (rawCall || null);\nconst rawRubric = $('Get Active Rubric').first().json;\nconst rubricRow = Array.isArray(rawRubric) ? (rawRubric[0] || null) : (rawRubric || null);\n\nif (!call) return [{ json: { __no_findings: true, call_id: null, error: 'Call not found' } }];\nif (!rubricRow) return [{ json: { __no_findings: true, call_id: call.id, error: 'No active rubric' } }];\n\nconst rules = rubricRow.content;\nconst callId = call.id;\nconst callType = call.call_type || 'other';\nconst findings = [];\n\nconst segments = Array.isArray(call.transcript_segments) ? call.transcript_segments : [];\n\nlet repLabel = 'host';\nif (segments.length > 0) {\n  const speakers = [...new Set(segments.map(s => s.speaker).filter(Boolean))];\n  if (!speakers.includes('host') && speakers.length > 0) repLabel = speakers[0];\n}\n\nconst repSegments = segments.filter(s => s.speaker === repLabel);\nconst repText = repSegments.map(s => s.text || s.content || '').join(' ');\n\nfor (const banned of (rules.banned_words || [])) {\n  const appliesTo = banned.applies_to_call_types || [];\n  if (appliesTo.length > 0 && !appliesTo.includes(callType)) continue;\n  const word = banned.word.toLowerCase();\n  const regex = new RegExp('\\\\b' + word + '\\\\b', 'gi');\n  const matches = repText.match(regex) || [];\n  if (matches.length > 0) {\n    const contextSnippets = repSegments\n      .filter(s => (s.text || s.content || '').toLowerCase().includes(word))\n      .slice(0, 5)\n      .map(s => ({ text: s.text || s.content, timestamp: s.start_time }));\n    const suggestion = 'Do not use the word \"' + banned.word + '\" on ' + appliesTo.join(' or ') + ' calls. ' +\n      (banned.reason || 'It removes your authority and expert positioning with the prospect.') +\n      ' You said it ' + matches.length + ' time' + (matches.length > 1 ? 's' : '') + ' on this call.';\n    findings.push({\n      call_id: callId,\n      rule_key: 'banned_word_' + word,\n      value: { word, count: matches.length, suggestion },\n      severity: banned.severity || 'critical',\n      context_snippets: contextSnippets\n    });\n  }\n}\n\nfor (const filler of (rules.filler_words || [])) {\n  const word = filler.word.toLowerCase();\n  const regex = new RegExp('\\\\b' + word + '\\\\b', 'gi');\n  const matches = repText.match(regex) || [];\n  const count = matches.length;\n  const threshold = filler.threshold_per_call || 5;\n  if (count > threshold) {\n    const contextSnippets = repSegments\n      .filter(s => (s.text || s.content || '').toLowerCase().includes(word))\n      .slice(0, 3)\n      .map(s => ({ text: s.text || s.content, timestamp: s.start_time }));\n    const suggestion = 'Reduce use of the filler word \"' + word + '\". ' +\n      'You said it ' + count + ' times this call (target: under ' + threshold + '). ' +\n      'Replace it with a deliberate pause.';\n    findings.push({\n      call_id: callId,\n      rule_key: 'filler_word_' + word,\n      value: { word, count, threshold, suggestion },\n      severity: filler.severity || 'warning',\n      context_snippets: contextSnippets\n    });\n  }\n}\n\nconst totalSeconds = call.duration_seconds || 0;\nif (rules.talk_ratio && totalSeconds > 0 && segments.length > 0) {\n  const repSeconds = repSegments.reduce((sum, s) => {\n    const duration = (s.end_time || 0) - (s.start_time || 0);\n    return sum + (duration > 0 ? duration : 0);\n  }, 0);\n  const repPercentage = Math.round((repSeconds / totalSeconds) * 100);\n  const maxPercentage = rules.talk_ratio.max_rep_percentage || 60;\n  if (repPercentage > maxPercentage) {\n    const suggestion = 'You spoke for ' + repPercentage + '% of this call — the target is under ' + maxPercentage + '%. Ask a question, then stop talking.';\n    findings.push({\n      call_id: callId,\n      rule_key: 'talk_ratio',\n      value: { rep_percentage: repPercentage, max_allowed: maxPercentage, rep_seconds: Math.round(repSeconds), total_seconds: totalSeconds, suggestion },\n      severity: rules.talk_ratio.severity || 'warning',\n      context_snippets: []\n    });\n  }\n}\n\nif (findings.length === 0) return [{ json: { __no_findings: true, call_id: callId } }];\nreturn findings.map(f => ({ json: f }));"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000005",
      "name": "Has Findings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-findings-01",
              "leftValue": "={{ $json.__no_findings }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000006",
      "name": "Build Findings Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const findings = $input.all().map(item => ({\n  call_id: item.json.call_id,\n  rule_key: item.json.rule_key,\n  value: item.json.value,\n  severity: item.json.severity,\n  context_snippets: item.json.context_snippets || []\n}));\nreturn [{ json: { findings } }];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000007",
      "name": "Insert Rule Findings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 200],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/rule_findings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.findings }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Call", "type": "main", "index": 0 }]] },
    "Get Call": { "main": [[{ "node": "Get Active Rubric", "type": "main", "index": 0 }]] },
    "Get Active Rubric": { "main": [[{ "node": "Run Rules", "type": "main", "index": 0 }]] },
    "Run Rules": { "main": [[{ "node": "Has Findings?", "type": "main", "index": 0 }]] },
    "Has Findings?": {
      "main": [
        [{ "node": "Build Findings Array", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Findings Array": { "main": [[{ "node": "Insert Rule Findings", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567803"
}
