n8n/workflows/04-scorecard.json
{
  "name": "04 - LLM Scorecard",
  "nodes": [
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "call-scorecard",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000002",
      "name": "Get Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 200],
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.body.call_id }}" },
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000003",
      "name": "Get Active Rubric",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 400],
      "parameters": {
        "method": "GET",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/rubrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "is_active", "value": "eq.true" },
            { "name": "select", "value": "*" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-check-transcript",
      "name": "Check Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rawCall = $('Get Call').first().json;\nconst call = Array.isArray(rawCall) ? (rawCall[0] || {}) : (rawCall || {});\nconst callId = $('Webhook').first().json.body.call_id;\nconst transcript = (call.transcript_raw || '').trim();\nconst hasTranscript = transcript.length >= 50;\nreturn [{ json: { call_id: callId, has_transcript: hasTranscript } }];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-has-transcript",
      "name": "Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-has-transcript", "leftValue": "={{ $json.has_transcript }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-mark-no-transcript",
      "name": "Mark No Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 480],
      "parameters": {
        "method": "PATCH",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "id", "value": "=eq.{{ $json.call_id }}" }] },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'pending' } }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-build-score-01",
      "name": "Build Score Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rawCall = $('Get Call').first().json;\nconst call = Array.isArray(rawCall) ? (rawCall[0] || {}) : (rawCall || {});\nconst rawRubric = $('Get Active Rubric').first().json;\nconst rubric = Array.isArray(rawRubric) ? (rawRubric[0] || {}) : (rawRubric || {});\nconst transcript = (call.transcript_raw || 'No transcript available.').substring(0, 6000);\nconst rubricContent = JSON.stringify(rubric.content || {}, null, 2).substring(0, 1500);\n\nconst systemPrompt = [\n  'You are an expert sales coach reviewing a recorded sales call for WeBuildTrades, a UK marketing agency for trade businesses.',\n  '',\n  'Evaluate the rep performance against the sales playbook below and return a structured coaching scorecard.',\n  '',\n  'Sales Playbook (active rubric):',\n  rubricContent,\n  '',\n  'Scoring instructions:',\n  '- Score each criterion from 0 to 10 (0 = very poor, 10 = excellent)',\n  '- overall_score = weighted average across all scoring_criteria using their weight values',\n  '- For each strength and improvement, include an exact quoted phrase from the transcript as evidence',\n  '- Be specific and actionable — tell the rep exactly what to do differently',\n  '- If this is a team call (internal meeting), score leniently on sales criteria and note it',\n  '',\n  'Return ONLY valid JSON, no markdown, no explanation outside the JSON. Schema:',\n  '{\"overall_score\": 7.5, \"summary\": \"2-3 sentence coaching summary\", \"strengths\": [{\"criterion\": \"key\", \"score\": 8, \"description\": \"what rep did well\", \"evidence_quote\": \"exact quote\", \"timestamp_seconds\": 120}], \"improvements\": [{\"criterion\": \"key\", \"score\": 4, \"description\": \"what to improve and how\", \"evidence_quote\": \"quote showing issue\", \"timestamp_seconds\": 45}]}'\n].join('\\n');\n\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 1500,\n    system: systemPrompt,\n    messages: [\n      { role: 'user', content: 'Please evaluate this sales call transcript:\\n\\n' + transcript }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Score with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 180],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000005",
      "name": "Parse Scorecard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const responseText = $input.first().json.content?.[0]?.text || '';\nconst callId = $('Webhook').first().json.body.call_id;\nconst rawRubricPS = $('Get Active Rubric').first().json;\nconst rubric = Array.isArray(rawRubricPS) ? (rawRubricPS[0] || null) : (rawRubricPS || null);\n\n// Strip markdown code fences the LLM sometimes wraps around JSON\nlet cleanText = responseText.trim();\ncleanText = cleanText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nlet scorecard;\ntry {\n  scorecard = JSON.parse(cleanText);\n} catch (e) {\n  throw new Error('Failed to parse LLM scorecard: ' + responseText.substring(0, 300));\n}\n\nif (typeof scorecard.overall_score !== 'number') scorecard.overall_score = 0;\nif (!Array.isArray(scorecard.strengths)) scorecard.strengths = [];\nif (!Array.isArray(scorecard.improvements)) scorecard.improvements = [];\nif (!scorecard.summary) scorecard.summary = '';\n\nconst allEvidence = [\n  ...scorecard.strengths.filter(s => s.evidence_quote).map(s => ({ criterion_key: s.criterion, quote: s.evidence_quote, timestamp_seconds: s.timestamp_seconds || null })),\n  ...scorecard.improvements.filter(s => s.evidence_quote).map(s => ({ criterion_key: s.criterion, quote: s.evidence_quote, timestamp_seconds: s.timestamp_seconds || null }))\n];\n\nreturn [{ json: {\n  call_id: callId,\n  rubric_id: rubric ? rubric.id : null,\n  overall_score: Math.round(scorecard.overall_score * 10) / 10,\n  summary: scorecard.summary,\n  strengths: scorecard.strengths,\n  improvements: scorecard.improvements,\n  llm_model: 'claude-sonnet-4-6',\n  all_evidence: allEvidence\n} }];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000006",
      "name": "Insert Scorecard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1740, 180],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/scorecards",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { call_id: $json.call_id, rubric_id: $json.rubric_id, overall_score: $json.overall_score, summary: $json.summary, strengths: $json.strengths, improvements: $json.improvements, llm_model: $json.llm_model } }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000007",
      "name": "Build Evidence Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const scorecardRow = ($('Insert Scorecard').first().json || [])[0];\nconst scorecardId = scorecardRow ? scorecardRow.id : null;\nconst allEvidence = $('Parse Scorecard').first().json.all_evidence || [];\nif (!scorecardId || allEvidence.length === 0) return [{ json: { __skip_evidence: true } }];\nconst evidenceRows = allEvidence.map(e => ({ scorecard_id: scorecardId, criterion_key: e.criterion_key, quote: e.quote, timestamp_seconds: e.timestamp_seconds }));\nreturn [{ json: { evidence: evidenceRows } }];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000008",
      "name": "Has Evidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2160, 180],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-evidence-01", "leftValue": "={{ $json.__skip_evidence }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000009",
      "name": "Insert Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2360, 100],
      "parameters": {
        "method": "POST",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/scorecard_evidence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.evidence }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000010",
      "name": "Update Call Scored",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2560, 180],
      "parameters": {
        "method": "PATCH",
        "url": "https://fybvnwidpnxnouaukrnb.supabase.co/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "id", "value": "=eq.{{ $('Webhook').first().json.body.call_id }}" }] },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5YnZud2lkcG54bm91YXVrcm5iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA2NjM2NSwiZXhwIjoyMDkzNjQyMzY1fQ.sCP7tiT6_Pc_nME6HqmfH5PUZjaNzrfl45R8JK6Ay4c" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'scored' } }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000011",
      "name": "Trigger Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2760, 180],
      "parameters": {
        "method": "POST",
        "url": "https://n8nserver.metaviz.pro/webhook/call-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { call_id: $('Webhook').first().json.body.call_id } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Call", "type": "main", "index": 0 }]] },
    "Get Call": { "main": [[{ "node": "Get Active Rubric", "type": "main", "index": 0 }]] },
    "Get Active Rubric": { "main": [[{ "node": "Check Transcript", "type": "main", "index": 0 }]] },
    "Check Transcript": { "main": [[{ "node": "Has Transcript?", "type": "main", "index": 0 }]] },
    "Has Transcript?": {
      "main": [
        [{ "node": "Build Score Request", "type": "main", "index": 0 }],
        [{ "node": "Mark No Transcript", "type": "main", "index": 0 }]
      ]
    },
    "Build Score Request": { "main": [[{ "node": "Score with Groq", "type": "main", "index": 0 }]] },
    "Score with Groq": { "main": [[{ "node": "Parse Scorecard", "type": "main", "index": 0 }]] },
    "Parse Scorecard": { "main": [[{ "node": "Insert Scorecard", "type": "main", "index": 0 }]] },
    "Insert Scorecard": { "main": [[{ "node": "Build Evidence Array", "type": "main", "index": 0 }]] },
    "Build Evidence Array": { "main": [[{ "node": "Has Evidence?", "type": "main", "index": 0 }]] },
    "Has Evidence?": {
      "main": [
        [{ "node": "Insert Evidence", "type": "main", "index": 0 }],
        [{ "node": "Update Call Scored", "type": "main", "index": 0 }]
      ]
    },
    "Insert Evidence": { "main": [[{ "node": "Update Call Scored", "type": "main", "index": 0 }]] },
    "Update Call Scored": { "main": [[{ "node": "Trigger Notify", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567804"
}
