n8n/workflows/06-meeting-summary.json
{
  "name": "06 - Meeting Summary Agent",
  "nodes": [
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "call-meeting-summary",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000002",
      "name": "Get Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.call_id }}" },
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000003",
      "name": "Generate Meeting Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "mode": "raw",
          "rawBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"max_tokens\": 3000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert meeting intelligence agent for WeBuildTrades, a UK marketing agency for trade businesses.\\n\\nYour job is to analyze a meeting transcript and extract everything important so that anyone who missed the meeting can get fully up to speed in under 2 minutes.\\n\\nAlways be specific — name the person, quote what they said, and give exact next steps with owners.\\n\\nReturn ONLY valid JSON. No markdown outside the JSON. Use this exact schema:\\n{\\n  \\\"title\\\": \\\"<short meeting title, 5-8 words>\\\",\\n  \\\"one_line_summary\\\": \\\"<single sentence — what this meeting was about and what was decided>\\\",\\n  \\\"key_points\\\": [\\\"<bullet: important point, decision, or update — keep each under 20 words>\\\"],\\n  \\\"decisions_made\\\": [{\\\"decision\\\": \\\"<what was decided>\\\", \\\"decided_by\\\": \\\"<name>\\\", \\\"context\\\": \\\"<why, 1 sentence>\\\"}],\\n  \\\"action_items\\\": [{\\\"task\\\": \\\"<what needs to be done>\\\", \\\"owner\\\": \\\"<name>\\\", \\\"due\\\": \\\"<date or null>\\\", \\\"priority\\\": \\\"high\\\"|\\\"medium\\\"|\\\"low\\\"}],\\n  \\\"improvements_suggested\\\": [{\\\"area\\\": \\\"<area>\\\", \\\"suggestion\\\": \\\"<what was suggested>\\\", \\\"suggested_by\\\": \\\"<name>\\\"}],\\n  \\\"open_questions\\\": [\\\"<question raised but not answered>\\\"],\\n  \\\"next_meeting_topics\\\": [\\\"<topics for next time>\\\"]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this meeting transcript and produce the structured summary:\\n\\nCall type: {{ $('Get Call').first().json[0].call_type }}\\nDuration: {{ $('Get Call').first().json[0].duration_seconds }} seconds\\n\\nTranscript:\\n{{ $('Get Call').first().json[0].transcript_raw || 'No transcript available.' }}\"\n    }\n  ]\n}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000004",
      "name": "Parse Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const responseText = $input.first().json.choices?.[0]?.message?.content || '';\nconst callId = $('Webhook').first().json.call_id;\n\nlet summary;\ntry {\n  summary = JSON.parse(responseText);\n} catch (e) {\n  throw new Error('Failed to parse meeting summary: ' + responseText.substring(0, 300));\n}\n\nif (!Array.isArray(summary.key_points)) summary.key_points = [];\nif (!Array.isArray(summary.decisions_made)) summary.decisions_made = [];\nif (!Array.isArray(summary.action_items)) summary.action_items = [];\nif (!Array.isArray(summary.improvements_suggested)) summary.improvements_suggested = [];\nif (!Array.isArray(summary.open_questions)) summary.open_questions = [];\nif (!Array.isArray(summary.next_meeting_topics)) summary.next_meeting_topics = [];\n\nreturn [{ json: { call_id: callId, summary } }];"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000005",
      "name": "Store Summary in Scorecard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scorecards",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "mode": "raw",
          "rawBody": "={\n  \"call_id\": \"{{ $json.call_id }}\",\n  \"rubric_id\": \"00000000-0000-0000-0000-000000000002\",\n  \"overall_score\": null,\n  \"summary\": {{ JSON.stringify($json.summary.one_line_summary) }},\n  \"strengths\": {{ JSON.stringify($json.summary.key_points.map(p => ({ point: p }))) }},\n  \"improvements\": {{ JSON.stringify($json.summary.improvements_suggested) }},\n  \"llm_model\": \"llama-3.3-70b-versatile\"\n}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Store Action Items as Evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const scorecardId = $('Store Summary in Scorecard').first().json[0].id;\nconst summary = $('Parse Summary').first().json.summary;\n\nconst evidenceRows = (summary.action_items || []).map(item => ({ scorecard_id: scorecardId, criterion_key: 'action_item', quote: item.task + (item.owner ? ' — Owner: ' + item.owner : '') + (item.due ? ' — Due: ' + item.due : ''), timestamp_seconds: null }));\nconst decisionRows = (summary.decisions_made || []).map(d => ({ scorecard_id: scorecardId, criterion_key: 'decision', quote: d.decision + (d.decided_by ? ' (decided by ' + d.decided_by + ')' : ''), timestamp_seconds: null }));\nconst questionRows = (summary.open_questions || []).map(q => ({ scorecard_id: scorecardId, criterion_key: 'open_question', quote: q, timestamp_seconds: null }));\n\nconst allRows = [...evidenceRows, ...decisionRows, ...questionRows];\nif (allRows.length === 0) return [{ json: { __skip: true } }];\nreturn [{ json: { evidence: allRows } }];"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000007",
      "name": "Has Evidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1660, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-ev-06", "leftValue": "={{ $json.__skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000008",
      "name": "Insert Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1860, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scorecard_evidence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": { "mode": "raw", "rawBody": "={{ JSON.stringify($json.evidence) }}" },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000009",
      "name": "Update Call Scored",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2060, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calls",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "id", "value": "=eq.{{ $('Webhook').first().json.call_id }}" }] },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": { "mode": "raw", "rawBody": "={ \"status\": \"scored\" }" },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000010",
      "name": "Trigger Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2260, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/call-notify",
        "sendHeaders": true,
        "headerParameters": [{ "name": "Content-Type", "value": "application/json" }],
        "sendBody": true,
        "contentType": "json",
        "body": { "mode": "raw", "rawBody": "={ \"call_id\": \"{{ $('Webhook').first().json.call_id }}\" }" },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000012",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2460, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Call", "type": "main", "index": 0 }]] },
    "Get Call": { "main": [[{ "node": "Generate Meeting Summary", "type": "main", "index": 0 }]] },
    "Generate Meeting Summary": { "main": [[{ "node": "Parse Summary", "type": "main", "index": 0 }]] },
    "Parse Summary": { "main": [[{ "node": "Store Summary in Scorecard", "type": "main", "index": 0 }]] },
    "Store Summary in Scorecard": { "main": [[{ "node": "Store Action Items as Evidence", "type": "main", "index": 0 }]] },
    "Store Action Items as Evidence": { "main": [[{ "node": "Has Evidence?", "type": "main", "index": 0 }]] },
    "Has Evidence?": {
      "main": [
        [{ "node": "Insert Evidence", "type": "main", "index": 0 }],
        [{ "node": "Update Call Scored", "type": "main", "index": 0 }]
      ]
    },
    "Insert Evidence": { "main": [[{ "node": "Update Call Scored", "type": "main", "index": 0 }]] },
    "Update Call Scored": { "main": [[{ "node": "Trigger Notify", "type": "main", "index": 0 }]] },
    "Trigger Notify": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567806"
}
